<h1>Login</h1>
      <h2>Please login</h2>
    <form method="POST"  action="http://localhost:1337/login">       

      <input type="text" name="pseudo" placeholder="pseudo"  />
      <input type="password" name="password" placeholder="Password" />      
      <input type="submit" />  
    </form>
 