<form method="POST" action="http://localhost:3000/breweries/edit/:id">
    <label>name</label>
    <input type="text" name="name"><br/>
    <label>address</label>
    <input type="text" name="address"><br/>
    <label>country</label>
    <input type="text" name="country"><br/>
    <label>brand</label>
    <input type="text" name="brand"><br/>
    <label>description</label>
    <input type="text" name="description"><br/>
    <input type="submit">
</form>